{% extends "_layouts/base.html" %}

{% block page_title %}{{ assignment }}{% endblock page_title %}

{% block page_content %}
<ol class="breadcrumb" style="float:left;">
  <li><a href="{% url 'course_list' assignment.course.course_list_id %}">{{ assignment.course.course_list }}</a></li>
  <li><a href="{% url 'course' assignment.course.course_list_id assignment.course_id %}">{{ assignment.course }}</a></li>
  <li class="active">{{ assignment }}</li>
</ol>
<div style="clear:left;"></div>

<h1>{{ assignment }}</h1>

<form method="POST">
  {% csrf_token %}
  <table class="table table-hover">
    <tbody>
      <tr><td>Due Date</td><td>{{assignment.due_date }}</td></tr>
      <tr><td>Mark</td><td>{{ assignment.mark }}</td></tr>
      <tr><td>Weight (%)</td><td>{{ assignment.weight }}</td></tr>
    </tbody>
  </table>
</form>


{% endblock page_content %}
