{% extends "_layouts/base.html" %}
{% load staticfiles %}

{% block page_title %}{{ course }}{% endblock page_title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'due_dates/css/course.css' %}">
{# <link rel="stylesheet" href="{% static 'datepicker/css/datepicker.css' %}"> #}
<link href="{% static 'tablesorter/css/style.css' %}" rel="stylesheet">
{{ create_assignment_form.media }}
{% endblock %}

{% block JavaScript %}
<script src="{% static 'due_dates/js/course.js' %}"></script>
{# <script src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script> #}
<script src="{% static 'tablesorter/js/jquery.tablesorter.min.js' %}"></script>
{% endblock JavaScript %}

{% block page_content %}
<ol class="breadcrumb" style="float:left;">
  <li><a href="{% url 'course_list' course.course_list_id %}">{{ course.course_list }}</a></li>
  <li class="active">{{ course }}</li>
</ol>
<div style="clear:left;"></div>

<h1><span id="course_name" >{{ course.name }}</span>
<form id="course_name_form" method="POST">{% csrf_token %}
  {{ course_name_form.name }}
  <input type="button" id="hide_course_name_form" value="Cancel" class="btn btn-danger">
  <input type="submit" value="Save" class="btn btn-primary">
</form>
<a id="toggle_course_name_form" class="clickable"><span class="glyphicon glyphicon-edit"></span></a>
</h1>

<p>
<button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete_course_list_modal">Delete {{ course }}</button>
</p>

{# Delete Course List Modal #}
<div class="modal fade" id="delete_course_list_modal" tabindex="-1" role="dialog" aria-labelledby="Delete Course {{ course }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="delete_avatar_label">Delete {{ course }}</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to remove {{ course }}?
        </div>
        <div class="modal-footer">
          <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-xs btn-danger" name="delete_course" value="Delete Course" >
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% if course.assignments.count > 0 %}
<p>
  <a id="save_assignments_form" class="btn btn-success"><span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Save Assignments</a>
  <a href="{% url 'course' course.course_list_id course.id %}" id="cancel_assignments_form" class="btn btn-danger"><span class=" glyphicon glyphicon-remove"></span>&nbsp;Cancel</a>
</p>
{% endif %}

<form id="assignments_form" method="POST">{% csrf_token %}
{{ assignment_formset.management_form }}
<table id="assignment_table" class="table table-hover table-striped tablesorter">
  <caption>Hold the Shift key to sort multiple columns</caption>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Mark %</th>
      <th>Weight %</th>
      <th>Due Date</th>
      <th class="sorter-false"></th>
    </tr>
  </thead>
  <tbody>
    {% for assignment_form in assignment_formset %}
      <tr>
          <td>{{ assignment_form.id }}
              {# Hidden span to sort by#}
              <span class="hidden">{{ assignment_form.instance.name }}</span>
              {{ assignment_form.name }}</td>
          <td><span class="hidden">{{ assignment_form.instance.mark }}</span>{{ assignment_form.mark }}</td>
          <td><span class="hidden">{{ assignment_form.instance.weight }}</span>{{ assignment_form.weight }}</td>
          <td><span class="hidden">{{ assignment_form.instance.due_date }}</span>{{ assignment_form.due_date }}</td>
          {% if assignment_formset.can_delete %}
            <td>
              <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete_assignment_modal_{{ assignment_form.instance.id }}">
              Delete</a>
            </td>
          {% else %}
            <td></td>
          {%endif%}
      </tr>
    {% empty %}
      <tr><td colspan="5">No Assignments are available.</td></tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td>Course Mark</td>
      <td>{{ total_mark }} %</td>
      <td>{{ total_weight }} %</td>
      <td></td>
      <td id="asssignment_table_footer"></td>
    </tr>
  </tfoot>
</table>
<input type="submit" class="hidden btn btn-success assignment_form" value="Save Changes">
</form>

{# Delete Assignment Modals #}
{% for assignment_form in assignment_formset %}
<div class="modal fade" id="delete_assignment_modal_{{ assignment_form.instance.id }}"
tabindex="-1" role="dialog" aria-labelledby="Delete Assignment {{ assignment_form.instance }}?" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="delete_avatar_label">Delete {{ assignment_form.instance }}</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to remove Assignment {{ assignment_form.instance }}?
        </div>
        <div class="modal-footer">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="delete_assignment" value="{{ assignment_form.instance.id }}">
            <input type="submit" class="btn btn-danger" value="Delete Assignment" >
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{%endfor%}


<h3>Add Assignment</h3>
<form method="POST" >
  {% csrf_token %}
    <table id="add_assignment_table" class="table table-hover">
      <tbody>
        {% include "_layouts/custom_form.html" with form=create_assignment_form %}
      </tbody>
      <tfoot>
        <tr><td colspan="3"><input name="create_assignment" type="submit" value="Add Assignment" class="btn btn-primary"></td></tr>
      </tfoot>
    </table>
</form>

{% endblock page_content %}
