{% extends "_layouts/base.html" %}
{% load staticfiles %}

{% block page_title %}{{ course_list }}{% endblock page_title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'due_dates/css/course_list.css' %}">
<link href="{% static 'tablesorter/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block JavaScript %}
<script src="{% static 'due_dates/js/course_list.js' %}"></script>
<script src="{% static 'tablesorter/js/jquery.tablesorter.min.js' %}"></script>
{% endblock JavaScript %}

{% block page_content %}
<h1><span id="course_list_name">{{course_list.name }}</span>
<form id="course_list_name_form" method="POST">{% csrf_token %}
    {{ course_list_name_form.name }}
    <input type="button" id="hide_course_list_name_form" value="Cancel" class="btn btn-danger">
    <input type="submit" value="Save" class="btn btn-primary">
</form>
<a id="toggle_course_list_name_form" class="clickable"><span class="glyphicon glyphicon-edit"></span></a>
</h1>

{% if anonymous or user_and_public_list %}
  <p>This is a <abbr title="Anyone who types in the correct URL can access it.">public</abbr> course list that anyone can view.</p>
{% endif %}

{% if anonymous %}
  <p>You are not logged in, to return to this course list http://{{ domain }}{{ course_list.get_absolute_url }}</p>
  <p><a href="{% url 'login' %}?next={{ course_list.get_absolute_url }}">Login</a>
    to make it private and so you don't have to remember the link.</p>
{% elif user_and_public_list %}
  <form method="POST">{% csrf_token %}
    <input type="submit" class="btn btn-xs btn-info" name="upgrade" value="Add {{ course_list }} to your account.">
  </form>
{% endif %}

<button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete_course_list_modal">Delete {{ course_list }}</button>

{# Delete Course List Modal #}
<div class="modal fade" id="delete_course_list_modal" tabindex="-1" role="dialog" aria-labelledby="Delete Course List {{ course_list }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="delete_avatar_label">Delete {{ course_list }}</h4>
        </div>
        <div class="modal-body">
            Are you sure you want to remove {{ course_list }}?
        </div>
        <div class="modal-footer">
          <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" name="delete" value="Delete {{ course_list }}" >
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h3>Courses</h3>
<form method="POST" >{% csrf_token %}
<table id="course_list_table" class="table table-hover table-striped tablesorter">
<thead>
  <tr>
    <th>Course</th>
    <th>Mark %</th>
  </tr>
</thead>
<tbody>
  {% for course in course_list.courses.all %}
    <tr>
      <td><a href="{% url 'course' course_list.pk course.pk %}">{{ course }}</a></td>
      <td>{{ course.calculate_total_mark }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan=2><strong>No Courses</strong></td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">{{ create_course_form.name.label_tag }} {{ create_course_form.name }} <button name="create_course" type="submit" value="Add" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span>Add</button></td>
    </tr>
  </tfoot>
</table>
</form>
{% endblock page_content %}
