{% extends "_layouts/base.html" %}

{% block page_title %}Profile{% endblock page_title %}

{% block top_menu %}
  {% include "_layouts/top_menu.html" with active_tab='dashboard' %}
{% endblock top_menu %}

{% block page_content %}

<h1>Dashboard</h1>

<table class="table table-hover">
<tbody>
{% for course_list in course_lists %}
  <tr>
    <td><a href="{% url 'course_list' course_list.id %}">{{ course_list }}</a></td>
  </tr>
{% empty %}
    <tr><td>No Course Lists are available.</td></tr>
{% endfor %}
</tbody>
</table>

<h3>Add Course List</h3>
<form method="POST" >
  {% csrf_token %}
  {{ create_course_list_form.as_p }}
  <input type="submit" value="Add Course List" class="btn btn-primary">
</form>

{% endblock page_content %}
