{% extends "_layouts/base.html" %}

{% block page_title %}Home{% endblock page_title %}

{% block top_menu %}
  {% include "_layouts/top_menu.html" %}
{% endblock top_menu %}

{% block page_content %}

<h1>Welcome to Due Dates</h1>
<p>An assignment management system.</p>
<form method="POST" >
  {% csrf_token %}
  {{ create_course_list_form.as_table }}
  <p><input type="submit" value="Create a Course List to get Started." class="btn btn-lg btn-primary"></p>
</form>

{% endblock page_content %}