table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  text-align: center;
}
table.tablesorter thead tr .header {
  background-image: url("../img/bg.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
  background-image: url("../img/desc.gif");
}
