{% extends "_layouts/base.html" %}

{% block page_title %}Edit Account{% endblock page_title %}

{% block top_menu %}
  {% include "_layouts/top_menu.html" with active_tab='login' %}
{% endblock top_menu %}

{% block page_content %}
<h1>{{ user }}</h1>

<form method="POST" >{% csrf_token %}
  <table class="table table-hover">
      <tbody>
       {% include "_layouts/custom_form.html" with form=form %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <input type="submit" value="Update" class="btn btn-primary" >
          </td>
        </tr>
      </tfoot>
  </table>
</form>

<h3>Change Password</h3>
<form method="POST">{% csrf_token %}
  <table class="table table-hover">
      <tbody>
       {% include "_layouts/custom_form.html" with form=password_form %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <input type="submit" value="Change Password" class="btn btn-primary" >
          </td>
        </tr>
      </tfoot>
  </table>
</form>

{% endblock page_content %}
