{% extends "_layouts/base.html" %}

{% block page_title %}Forgot Username{% endblock page_title %}

{% block top_menu %}
  {% include "_layouts/top_menu.html" with active_tab='login' %}
{% endblock top_menu %}

{% block JavaScript %}
  <script>
    $(document).ready(function(){
        $('#id_email').focus();
    });
  </script>
{% endblock JavaScript %}

{% block page_content %}
<h1>Forgot Username</h1>

<form method="POST" >
  {% csrf_token %}
  <table class="table table-hover">
      <tbody>
       {% include "_layouts/custom_form.html" with form=form %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <input type="submit" value="Update" class="btn btn-primary" >
          </td>
        </tr>
      </tfoot>
  </table>
</form>
<p><a href="{% url 'reset_password' %}">Forgot Password?</a></p>

{% endblock page_content %}
