{% extends "_layouts/base.html" %}

{% block page_title %}Register{% endblock page_title %}

{% block top_menu %}
  {% include "_layouts/top_menu.html" with active_tab='register' %}
{% endblock top_menu %}

{% block JavaScript %}
  <script>
    $(document).ready(function(){
        $('#id_username').focus();
    });
  </script>
{% endblock JavaScript %}

{% block page_content %}

<h1>Register</h1>
<form method="POST" >
  {% csrf_token %}
  <table class="table table-hover">
    <tbody>
      {% include "_layouts/custom_form.html" with form=form %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <input type="submit" value="Register" class="btn btn-primary">
        </td>
      </tr>
    </tfoot>
  </table>
</form>

{% endblock page_content %}
