{% extends "_layouts/base.html" %}

{% block page_title %}Password reset complete{% endblock page_title %}

{% block page_content %}
<p>Your password has been set.  You may go ahead and log in now.</p>
<p><a href="{{ login_url }}">Log in</a></p>
{% endblock page_content %}
