{% extends "_layouts/base.html" %}

{% block page_title %}Password reset successful{% endblock page_title %}

{% block page_content %}
<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
<p>You should be receiving it shortly.</p>
{% endblock page_content %}
