#course_name_form {
  display: none;
}
#id_course-name {
  text-align: center;
}
#assignments_form input{
  text-align: center;
}
.assignment_form {
  display:none;
}
#save_assignments_form{
  display: none;
}
#cancel_assignments_form{
  display: none;
}
#asssignment_table_footer{
  display: none;
}
.hidden{
  display: none;
}
#assignments_form input{
  border: 0;
}
#assignment_table .input-group-addon {
  border: 1px solid #ccc !important;
}
.fieldlabel {
  width: 30%;
}
#id_due_date_picker{
    max-width: 175px !important;
    margin: 0 auto;
}
