.error {
    color: #D8000C;
}

.required {
    font-weight: bold;
}

body {
  padding-top: 0px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.page-content {
  padding: 60px 15px;
  text-align: center;
}
.breadcrumb {
  bottom:0px!important;
}
#messages_list {
  position:fixed;
  right:0px;
  left:0px;
  top:50px;
}
h1{
  margin-top: 0px;
}
.editable {
  background-color: yellow;
}

a.clickable{
  cursor: pointer;
  cursor: hand;
}

/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.footer-links {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;

  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding-left: 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
