{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block page_title %}Due Dates{% endblock page_title %} | Due Dates</title>
  <script src="{% static 'due_dates/js/jquery-2.0.3.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'due_dates/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'due_dates/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'due_dates/css/style.css' %}">
  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>

  {% block top_menu %}
    {% include "_layouts/top_menu.html" %}
  {% endblock top_menu %}

  <div class="container">
    {% if messages %}
      <div class="page-header">
      {% for message in messages %}
        <div id="message_list" {% if message.tags %} class="alert alert-{% if message.tags == 'error' %}danger{%else%}{{ message.tags }}{%endif%}"{% endif %}>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}</div>
      {% endfor %}
      </div>
    {% endif %}
    <div class="page-content">
      {% block page_content %}

      {% endblock page_content %}
    </div>
  </div>

  <script src="{% static 'due_dates/js/bootstrap.min.js' %}"></script>
  {% block JavaScript %}{% endblock JavaScript %}

  <footer class="container">
      <ul class="footer-links">
        <li>
          <a href="https://bitbucket.org/Siecje/due-dates/issues?status=new&amp;status=open">Request a Feature</a>
        </li>
        <li class="muted">·</li>
        <li>
          <a href="https://bitbucket.org/Siecje/due-dates">Contribute to the site</a>
        </li>
        <li class="muted">·</li>
        <li>
          <a href="https://twitter.com/siecje">Follow me on Twitter</a>
        </li>
      </ul>
  </footer>
</body>
</html>
