{% for field in form %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <tr id="field_{{ field.id_for_label }}">
    <td class="fieldlabel">
      {{ field.label_tag }}
      {% if field.field.required %}
        <strong style="color: red;">*</strong>
      {% endif %}
    </td>
    <td>
      {{ field }}
      {% if field.help_text %}
        <br>
        <span class="help-text">{{ field.help_text }}</span>
      {% endif %}
    </td>
    <td class="error">
      {% for error in field.errors %}
          {{ error }}
      {% endfor %}
    </td>
  </tr>
{% endfor %}
