<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Due Dates</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li {% if active_tab == 'today' %}class="active"{% endif %}>
              <a href="{% url 'today' %}">Calendar</a>
          </li>
          {% if user.is_authenticated %}
            <li {% if active_tab == 'dashboard' %}class="active"{% endif %}>
                <a href="{% url 'dashboard' %}" >Dashboard</a>
            </li>
            <li {% if active_tab == 'account' %}class="active"{% endif %}>
                <a href="{% url 'account' %}" >Account ({{ user }})</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Log out</a>
            </li>
          {% else %}
            <li {% if active_tab == 'register' %}class="active"{% endif %}>
                <a href="{% url 'register' %}">Register</a>
            </li>
            <li {% if active_tab == 'login' %}class="active"{% endif %}>
                <a href="{% url 'login' %}">Log in</a>
            </li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
     </div>
 </div>
