{% extends "_layouts/base.html" %}
{% load staticfiles %}

{% block page_title %}Calendar{% endblock page_title %}

{% block top_menu %}
  {% include "_layouts/top_menu.html" with active_tab='today' %}
{% endblock top_menu %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static "course_calendar/css/calendar.css" %}">
{% endblock stylesheets %}

{% block page_content %}
  <h1>{{month_name}} {{year}}</h1>
  <table width="100%">
    <tr>
      <td width="20%" align="left">
        &lt;&lt; <a href="/calendar/{{previous_year}}/{{previous_month}}/{{course_list_id}}">{{previous_month_name}} {{previous_year}}</a>
      </td>
      <td width="20%" align="left">
        &lt;&lt; <a href="/calendar/{{year_before}}/{{month}}/{{course_list_id}}">{{month_name}} {{year_before}}</a>
      </td>
      <td width="20%" align="center">
        <a href="/calendar/{{year_today}}/{{month_today}}/{{course_list_id}}">Today</a>
      </td>
      <td width="20%" align="right">
        <a href="/calendar/{{year_after}}/{{month}}/{{course_list_id}}">{{month_name}} {{year_after}}</a> &gt;&gt;
      </td>
      <td width="20%" align="right">
        <a href="/calendar/{{next_year}}/{{next_month}}/{{course_list_id}}">{{next_month_name}} {{next_year}}</a> &gt;&gt;
      </td>
    </tr>
  </table>
  <div id="calendar">
    {{calendar}}
  </div>
{% endblock page_content %}
