{% extends "_layouts/base.html" %}

{% block top_menu %}
  {% include "_layouts/top_menu.html" with active_tab='today' %}
{% endblock top_menu %}

{% block page_content %}
<h1>Select a Course List</h1>

<form method="POST">
  {%  csrf_token %}
  {{ select_course_list_form }}
  <input type="submit" value="Submit" class="btn btn-primary" >
</form>

{% endblock page_content %}
